.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	.app-sidebar__user
		
		div
			p.app-sidebar__user-name #{name}

	ul.app-menu
		li
			a.app-menu__item(href='/users' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Usuários
		li
			a.app-menu__item(href='/roms' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Roms
		li
			a.app-menu__item(href='/genders' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Gêneros
		li
			a.app-menu__item(href='/consolers' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Consoles			

