extends layout2
block content
    .main.container
        .row
        .col-12.offset-3
            h1.display-4.offset-2 Login
            <br>
            form(method='POST' action='/login')
            
                div.form-group
                    label(for='email') Email
                    input.form-control(type='text' id='email' placeholder='email' name='email').w-50
                    
                div.form-group
                    label(for='password') Senha
                    input.form-control(type='password' id='password' placeholder='password' name='password').w-50
                
                button.btn.btn-primary(type='submit').offset-2.btn-lg Entrar 
                <br><br>        
                        a(href="http://localhost:3000/register").offset-2 Cadastra-se
                        <br><br>
                        a(href="http://localhost:3000/newpassword").offset-2 Esqueci minha senha