extends layout2

block content
    .main.container
        .row
        .col-12.offset-3
            h1.display-4.offset-2 Cadastra-se
            <br>
            form(method='POST' action='/register')
                div.form-group
                    label(for='email') Nome Completo
                    input.form-control(type='text' id='name' placeholder='Nome' name='name').w-50
                div.form-group
                    label(for='email') Email
                    input.form-control(type='email' id='email' placeholder='Email' name='email').w-50    
                div.form-group
                    label(for='password') Senha
                    input.form-control(type='password' id='password' placeholder='password' name='password').w-50
                    <br><br><br>  
                    button.btn.btn-primary(type='submit').offset-2.btn-lg Registrar 
                    <br><br><br>       
                    a(href="http://localhost:3000/login").offset-2 Logar              