extends ../layout

block content
        div.container
            .col-12
                .tile
                    if success
                        div.alert.alert-success #{success}
                    if errors
                        each e in errors
                            div.alert.alert-danger #{e.msg}
                    form(action="/gendersupdate", method="post").offset-4
                        .form-group
                            label(for="name") Nome
                            input.form-control.col-6(type="text", name="name",value=`${gender.name}`)   
                                
                        .form-group
                            button.btn.btn-primary.offset-2(type="submit") Atualizar
                            input(type="hidden", name="id",value=`${gender.id}`)   