extends ../layout

block content
    
            .bg.light    
                .row
                    .col-md-12
                        .tile
                            .tile-body
                                a(href='/gendersadd')
                                    input(type="button", value="Novo").btn.btn-success().btn-lg.offset-5
                                    <br><br>
                                div.container
                                table.table.table-hover.table-bordered#sampleTable
                                    thead
                                        tr
                                            th Nome
                                            th Opções
                                    tbody
                                    each g in gender
                                        tr
                                            td #{g.name}
                                            td
                                                a(href=`/gendersedit/${g.id}`).offset-2
                                                    button.btn.btn-primary() Editar
                                                a(href=`/gendersdel/${g.id}`).offset-2
                                                    button.btn.btn-danger() Excluir
            